* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    margin: 0 0 17px 0;
}

h2 {
    margin: 60px 0 19px 0;
}

h1, h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

header {
    margin-bottom: 60px;
}
header a {
    font-weight: 400;
    font-style: 16px;
    line-height: 24px;
    text-decoration: none;
    color : #050038 ;
}

nav {
    border-bottom: 1px solid #F0F0F0;
    padding: 33px 50px;
    margin-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    gap: 34px;
    display: flex;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
    margin-bottom: 200px;
}
.heroForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heroForm input{

}
.heroLogos{
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero {
    display: flex;
}
.heroText {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #050038;
}


.heroForm input {
    height: 48px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
}
.heroForm button{
    height: 51px;
    border: 1px solid #4262FF;
    border-radius: 32px;
    color: #FFFFFF;
    background-color: #4262FF;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}
.section {
    display: flex;
}
.section-reverse {
    flex-direction: row-reverse;
}
